@model List<Menu.Models.Dish>
@{
    ViewData["Title"] = "MenuIndex";
}

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-6">
                <div>
                    <h4>@item.Name</h4>
                </div>
                <div>
                    @item.ImageUrl
                </div>
                <div>
                    @item.Price
                </div>
            </div>
        }
    </div>
</div>
